@charset "utf-8";

@import "init/import";

/* -------------------------------------------------
    01-layout,style
      common
      header
      main
      sidebar
      footer
    02-function
      modal
      slide
    03-animationsss
    04-responsives
    05-other
------------------------------------------------- */
    
.mainArea {
  @extend %width;

  .content__para {
    margin-bottom: 45px;
  }
  .content__list {
    margin-bottom: 45px;
    padding-left: 30px;
    
    .item {
      list-style-type: decimal;
      line-height: 24px;
      letter-spacing: .1em;
      
      margin-bottom: 10px;

      @include fz(14);
    }
    .last {
      margin: 0;
    }
  }

  .policy__tit {
    @extend %width;
    margin-bottom: 30px;

    text-align: center;
  }
  .policy__para {
    margin-bottom: 30px;
  }

  .last {
      margin: 0 !important;
  }
  .itemH100 {
    height: 100px;
  }
}

