@charset "utf-8";

@import "init/import";

/* -------------------------------------------------
    01-layout,style
      common
      header
      main
      sidebar
      footer
    02-function
      modal
      slide
    03-animationsss
    04-responsives
    05-others
------------------------------------------------- */
    
.mainImg {
  margin-bottom: 50px;
  padding: 30px 0 20px;

  text-align: center;
  
  .mainImg__main {
    position: relative;

    margin: 0 auto 15px;

    width: 950px;
    height: 380px;

    overflow: hidden;
    
    z-index: 2;

    img {
      position: absolute;
      left: 0;
      top: 0;
      
      display: none;
    }    
  }
  .mainImg__imgList {
    font-size: 0;
    
    z-index: 2;
    .item {
      position: relative;
      
      display: inline-block;
      margin-right: 10px;
      
      background-color: #FFF;
    }
    .bg.on {
      position: absolute;
      left: 0;
      top: 0;

      height: 100%;
      width: 100%;

      border: 4px solid #fff;
      // border-width: 4;
      box-sizing: border-box;
    }
  }

  .mainImg__bg {
      display: none;
      
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      
      width: 100%;
      height: 100%;
      
  }
  .mainImg__bg01 {
      background: url(../img/products/keylex/bg_mainImg01.jpg) no-repeat;
      background-size: cover;
  }  
  .mainImg__bg02 {
      background: url(../img/products/keylex/bg_mainImg02.jpg) no-repeat;
      background-size: cover;
  }  
  .mainImg__bg03 {
      background: url(../img/products/keylex/bg_mainImg03.jpg) no-repeat;
      background-size: cover;
  }  
  .mainImg__bg04 {
      background: url(../img/products/keylex/bg_mainImg04.jpg) no-repeat;
      background-size: cover;
  }  
  .mainImg__bg05 {
      background: url(../img/products/keylex/bg_mainImg05.jpg) no-repeat;
      background-size: cover;
  }  
  .mainImg__bg06 {
      background: url(../img/products/keylex/bg_mainImg06.jpg) no-repeat;
      background-size: cover;
  }
}

.titleBlock {
  @extend %width;
  
  margin-bottom: 45px;
  
  text-align: center;
  
  .titleBlock__tit {}
}

.keywordBlock{
  text-align: center;
  
  .keywordBlock__wrap {
    overflow: hidden;
    
    margin-bottom: 2px;
  }
  
  .keywordBlock__tit {margin-bottom: 25px;}
  .keywordBlock__text {margin-bottom: 25px;}

  .keywordBlock__imgWrap {
    position: relative;

    overflow: hidden;
    margin-bottom: 5px;
    
    background: url(../img/products/keylex/bg_mosaic.gif);
    
    img {
      position: relative;
      top: -80px;
    }
  }

  .keywordBlock__list {
    @extend %width;
    @extend %cf;
    
    .item {
      float: left;
      padding-top: 15px;
      
      width: 316px;
      
      box-sizing: border-box;
      background: url(../img/products/keylex/dot.gif) top right repeat-y;
    }
    .item:nth-child(2) {
      width: 317px;
    }
    .item:last-child {
      background: none;
    }

    .keywordBlock__list_tit {
      margin-bottom: 10px;
      
      @include fz(14);
      font-weight: bold;
      letter-spacing: 0;
      .fzSmall {
        @include fz(12);
      }
    }
    .keywordBlock__list_text {
      padding: 0 20px 8px 20px;
      text-align: justify;
    }

    .ac {text-align: center !important;}
  }

  .keywordBlock__wrap_useful {
    .keywordBlock__list {padding-bottom: 50px;}

    .keywordBlock__imgWrap {top: -120px;}
  }
  .keywordBlock__wrap_design {
    .keywordBlock__tit {padding-top: 50px;}
    .keywordBlock__list {padding-bottom: 50px;}
    
    .keywordBlock__imgWrap {top: -200px;}
    .item:nth-of-type(1) {
      height: 175px;
    }
  }
  .keywordBlock__wrap_safe {
    margin-bottom: 50px;
    
    .keywordBlock__tit {padding-top: 50px;}
    .keywordBlock__imgWrap {top: -185px;}
    
    .item:nth-of-type(2) {
      height: 324px;
    }
    .pb45 {padding-bottom: 45px !important;}
  }

  .keywordBlock__tit_open {
    position: absolute;
    top: 65px;
    left: 50%;
    z-index: 2;
    
    margin-left: -44px;
  }
  .keywordBlock__wrap_design,
  .keywordBlock__wrap_safe {
    .keywordBlock__tit_open {margin-left: -62px;}
  }
  .keywordBlock__btn_detail {
    position: absolute;
    top: 145px;
    left: 50%;
    z-index: 2;
 
    margin-left: -116px;
  }
  .shadow {
    position: absolute;
    top: 0;
    left: 50%;
    
    margin-left: -475px;

    width: 950px;
    height: 100%;
    
    background-color: rgba(0,0,0,.4);
  }


  .redMark {
    padding: 0 3px;
    img {vertical-align: baseline;}
  }

}
.mainArea {
  @extend %width;
  
  .pageTit {padding-top: 0;}
  .pageTit__tit {margin-bottom: 30px;}
  
  .lineupBlock {
    @extend %cf;
    margin: 0 auto 0;
    width: 910px;
    
    a {display: block;}

    .item {
      float: left;
      
      margin-right: 40px;
      margin-bottom: 40px;

      width: 276px;
    }
    .item:nth-child(3n) {margin-right: 0;}
    .item:nth-last-child(-n+1) {margin-bottom: 0;}
    .lineupBlock__img,.lineupBlock__img_tit{display: block;}

    .lineupBlock__text {padding: 15px 0;}

    .lineupBlock__supply {
      margin-bottom: 20px;
      
      @extend %cf;
      .sub_item {
        margin-right: 3px;
        margin-bottom: 3px;
        
        float: left;
      }    
      .sub_item:nth-child(3n) {
        margin-right: 0;
      }    
      .sub_item:nth-last-child(-n+3) {
        margin-bottom: 0;
      }    
    }
    .lineupBlock__icon {
      @extend %cf;
      
      .sub_item {
        float: left;
        
        margin-right: 4px;
        margin-bottom: 4px;
        
        position: relative;
      }
      .sub_item:last-child {margin-right: 0;}
      .sub_item:nth-child(n+7) {margin-bottom: 0;}
      img {
        width: 42px;
        height: 42px;
      }
    }
  }

  .othersBlock {
    margin-bottom: 60px;
    
    .lineupBlock__text {padding-bottom: 0;}
  }

  .pageTit__others {
    padding-bottom: 0;
    .pageTit__tit {margin-bottom: 0;}
  }

  .iconBlock {
    @extend %cf;

    margin-bottom: 50px;
    padding: 20px;
    background-color: #f6f6f6;
    .item {
      float: left;
      
      margin-bottom: 15px;
      padding-right: 30px;

      width: calc(33.3% - 30px);
    }
    .item:nth-child(3n) {
      padding-right: 0;
      width: 33.4%;
    }
    .item:nth-last-child(-n+1) {margin-bottom: 0;}
    .left {
      float: left;
//      width: 15%;
//      margin-right: 5%;
      margin-right: 9px;
      height: auto;
    }
    .right {
      float: left;
      width: 80%;
      
      
      @include fz(12);
      line-height: 14px;
      @extend %justify;
    }
  }

  .mainArea__block {
    @extend %cf;
    
    .item {
      float: left;
      width: 33.3%;
      
      padding-bottom: 20px;
      
      border-right: 1px solid #ccc;
    }      
    .item__inner {
      padding: 0 20px;
      
    }
    .item:nth-of-type(3n) {
      width: 33%;
      
      border-right: none;
    }

    
  }

  .item__thumbnail {
    padding-top: 35px;
    margin-bottom: 30px;

    text-align: center;
    
    width: 100%;
  }
  .item__tit {
    text-align: center;

    margin-bottom: 30px;

    line-height: 1;      
  }
  .item__text {      
    letter-spacing: .005em;
    
    line-height: 26px;
    text-align: justify;
  }

}

.iconReplace {
    background: url(../img/products/keylex/icon01.png) no-repeat left 0px;
}
.iconDed {
    background: url(../img/products/keylex/icon07.png) no-repeat left 0px;
}
.iconSafe {
    background: url(../img/products/keylex/icon02.png) no-repeat left 0px;
}
.iconTouch {
    background: url(../img/products/keylex/icon03.png) no-repeat left 0px;
}
.iconBarrier {
    background: url(../img/products/keylex/icon04.png) no-repeat left 0px;
}
.iconBoth {
    background: url(../img/products/keylex/icon08.png) no-repeat left 0px;
}
.icon {
  padding-left: 35px;
  background-size: 20px;
  margin-left: -35px;    
}


// ===================================================================
// Handle
// ===================================================================

.handle {

  .mainImg {
    background: url(../img/products/handle/bg_mainImg.jpg) no-repeat;
    background-size: cover;
  }

  
  .keywordBlock__list {
   padding-bottom: 30px !important;
   
  }
  .keywordBlock__wrap_useful {
    .keywordBlock__list {
     padding-top: 15px;
     
    }
  }
  .keywordBlock__wrap_design {
    .keywordBlock__list {
     
      .item {
        width: 50%;
      }
    }
  }
  .keywordBlock__wrap_safe {
    .adjustW {padding: 0 10px;}
  }
   

 
  .keywordBlock__imgWrap {
    background: url(../img/products/handle/bg_mosaic.gif);
  }

  .mainImg__bg01 {
      background: url(../img/products/handle/bg_mainImg01.jpg) no-repeat;
      background-size: cover;
  }  
  .mainImg__bg02 {
      background: url(../img/products/handle/bg_mainImg02.jpg) no-repeat;
      background-size: cover;
  }  
  .mainImg__bg03 {
      background: url(../img/products/handle/bg_mainImg03.jpg) no-repeat;
      background-size: cover;
  }  
  .mainImg__bg04 {
      background: url(../img/products/handle/bg_mainImg04.jpg) no-repeat;
      background-size: cover;
  }  
  .mainImg__bg05 {
      background: url(../img/products/handle/bg_mainImg05.jpg) no-repeat;
      background-size: cover;
  }  
  .mainImg__bg06 {
      background: url(../img/products/handle/bg_mainImg06.jpg) no-repeat;
      background-size: cover;
  }
}

// ===================================================================
// kodai
// ===================================================================

.kodai {

  .mainImg {
    background: url(../img/products/kodai/bg_mainImg.jpg) no-repeat;
    background-size: cover;
  }
  
  .keywordBlock__list {
   padding-bottom: 30px !important;
   
  }
  .keywordBlock__wrap_useful {
    .keywordBlock__list {
     padding-top: 15px;
     
    }

    .adjustW {
      width: 390px;
      margin: 0 auto;
    }
  }
  .keywordBlock__wrap_design {
    .keywordBlock__list {
     
      .item {
        width: 50%;
        height: auto;
      }
    }
  }
  .keywordBlock__wrap_safe {
    .keywordBlock__list {
     
      .item {width: 50%;}
    }
  }
   

 
  .keywordBlock__imgWrap {
    background: url(../img/products/kodai/bg_mosaic.gif);
  }

  .mainImg__bg01 {
      background: url(../img/products/kodai/bg_mainImg01.jpg) no-repeat;
      background-size: cover;
  }  
  .mainImg__bg02 {
      background: url(../img/products/kodai/bg_mainImg02.jpg) no-repeat;
      background-size: cover;
  }  
  .mainImg__bg03 {
      background: url(../img/products/kodai/bg_mainImg03.jpg) no-repeat;
      background-size: cover;
  }  
  .mainImg__bg04 {
      background: url(../img/products/kodai/bg_mainImg04.jpg) no-repeat;
      background-size: cover;
  }  
}

