@charset "utf-8";

@import "init/import";

/* -------------------------------------------------
    01-layout,style
      common
      header
      main
      sidebar
      footer
    02-function
      modal
      slide
    03-animationsss
    04-responsives
    05-other
------------------------------------------------- */
    
.mainArea {
  @extend %width;

    .tabArea {
      overflow: hidden;

      padding: 0 20px;
      padding-bottom: 5px;

      background: url(../img/support/bg_keylex.gif) bottom repeat-x;
      
      .item {
        float: left;
        
        margin-right: 11px;
      }
      .item:last-child {
        margin: 0;
      }
      .item:hover {opacity: 0.5;}
      .item.on:hover{opacity: 1;}
    }
    #tab__handle .tabArea {
      background: url(../img/support/bg_handle.gif) bottom repeat-x;
    }
    #tab__kodai .tabArea {
      background: url(../img/support/bg_kodai.gif) bottom repeat-x;
    }

    .tabPanel {
      position: absolute;
    }
   
    .contentsArea {
      padding: 20px 20px;

      width: 100%;

      box-sizing: border-box;
      border: 1px solid #eaeaea;
      border-top: none;

      background-color: #f6f6f6;
      
      .block {margin-bottom: 40px;}
      .block:last-child {margin-bottom: 0;}
      
      .block__list_tit {
        text-align: center;

        margin-bottom: 10px;
      }
      .block__list_inner {
        @extend %cf;

        padding: 20px 0;
        
        background: url(../img/common/dot.png) bottom repeat-x;
      }
      .block__list_item {
        margin-bottom: 20px;
        padding-left: 50px;

        line-height: 40px;

        background: url(../img/support/faq/Q.png) no-repeat;
        
        @include fz(14);
        color: #1c426d;
        font-weight: bold;
        letter-spacing: .1em;
      }
      .block__list_item:last-child {
        margin: 0;
  
        min-height: 40px;
        
        color: #000;
        font-weight: normal;
        background: url(../img/support/faq/A.png) no-repeat;
        
        p {padding-top: 10px;}
      }

      .block__list_inner_row {
        .item:first-child {float: left;}
        .item:last-child {float: right;}
      }
    }

    .article__pager {
      text-align: center;
      
      .article__pager_block {
        font-size: 0;
      }
      .item {
        display: inline;
        margin-right: 10px;
      }
      .item:last-of-type {
        margin: 0;    
      }
    }

    .listBlock {
      overflow: hidden;

      margin-bottom: 40px;
      padding-bottom: 20px;

      background-color: #f6f6f6;

      border-bottom: 1px solid #ccc;
      
      .item {
        float: left;
        padding-bottom: 20px;
        padding-right: 14px;
      }
      .item:nth-of-type(3n) {padding-right: 0;}
      .item:nth-last-of-type(-n+3) {padding-bottom: 0;}
    }

}

